/* Background */
html {
  background: url("../images/background.jpg") no-repeat fixed center;
  background-size: cover;
}

/* Outer Body */
body {
  background-color: #f5f5f5;
  width: 95%;
  margin: auto;
}

/* Document Text */
body p {
  margin: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

/* Content Body */
.recipe-body {
  background-color: #f5f5f5;
  text-align: center;
  margin: auto;
  width: 85%;
  border: 2px solid #add8e6;
}

/* Recipe Title */
h1 {
  margin-top: 25px;
  display: inline-block;
  border-radius: 25px;
  color: #2c698d;
  font-family: "Lora", serif;
  font-size: 32px;
  font-style: italic;
}

/* Home Button */
a {
  text-decoration: underline;
  color: #0d7ba0;
  font-size: 16px;
  font-family: "Lora", serif;
  font-style: italic;
}

/* Dish Image */
.main-img {
  margin-top: 10px;
  max-width: 80%;
  height: auto;
}

/* Horizontal Rules */
hr {
  width: 80%;
  border: 1px solid #0d7ba0;
}

/* Star Rating */
.rating-img {
  width: 100px;
}

/* Secondary Titles */
h2 {
  color: #0d7ba0;
  font-size: 18px;
  font-family: "Lora", serif;
  font-style: italic;
}

/* Ingredients List Items */
ul li {
  padding: 5px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

/* Instructions List Text */
ol li {
  padding: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

/*  Print Button */
button {
  padding: 5px;
  background-color: #add8e6;
  color: #114969;
  margin: 10px;
  cursor: pointer;
}
