* {
    box-sizing: border-box;
}

html {
  background: url("../images/background.jpg") no-repeat fixed center;
  background-size: cover;
  
}

body {
  text-align: center;
  
}

h1 {
  margin-top: 20px;
  display: inline-block;
  padding: 5px;
  border-radius: 25px;
  background-color: #e3f6f5;
  color: #2c698d;
}

.index-img {
  width: 20%;
  margin: 5px;
  border: 2px solid brown;
}
