/* Image Borders */
* {
  box-sizing: border-box;
}

/* Background */
html {
  background: url("../images/background.jpg") no-repeat fixed center;
  background-size: cover;
}

/* Document Content */
body {
  text-align: center;
}

/* Home Title */
h1 {
  margin-top: 20px;
  display: inline-block;
  padding: 5px;
  border-radius: 25px;
  background-color: #e3f6f5;
  color: #2c698d;
}

/* Home Recipe Images */
.index-img {
  width: 20%;
  margin: 15px;
  border: 2px solid brown;
}

/* Image Links */
a {
  text-decoration: none;
}
